

.logo{
    font-size:3rem;
}

.nav-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.link-container{
    height:auto;
}

.links{
    display:flex;
}

.links >li >a {
    margin:0 0.5rem;
    color:#000;
    font-size:1.25rem;
}

.social-icons{
    height:0;
    overflow:hidden;
}

.links-container{
    height:0;
    overflow:hidden;
}

.nav-toggle{
    font-size:2.5rem;
    background:transparent;
    border-color:transparent;
}


/* 하나의 컴포넌트를 만들때 모바일 용이랑 웹버전이랑 동시에
만들어라 */
/*PC CSS style*/
@media screen and (min-width: 800px){
    .logo{
        font-size: 4rem;
    }
    .nav-toggle{
        font-size:0;
    }

    .nav-center{
        max-width:1170px;
        margin:0 auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;    
    }

    .social-icons{
        display:flex;
    }

    .social-icons >li >a{
        margin: 0 0.5rem;
        color:#000;
    }
}