.blueLine{
    margin-top: 20px;
    width:900px;
    height:1px;
    background-color: blue;
}

#name{
    clear:both;
    display:inline-block;
    padding-top:20px;
}

.Scroll_box{
    width:500px;
    height:100px;
    background-color: #fff;
    overflow-y: scroll;
    margin:20px;
    margin-left:20px;
}